html,
body,
main,
header,
nav,
div,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*-------------- variables ----------------------*/
:root {
  --header-height: 5rem;

/*---------------- colors -----------------------*/
--hue:0;
--body-color: hsl(var(--hue), 0%, 100%);
--base-color: hsl(220, 43%, 11%);
--title-color: hsl(var(--hue), 0%, 1%);
--title-color-second: hsl(var(--hue), 60%, 35%);
--text-color: hsl(var(--hue), 0%, 51%);
--text-color-button: hsl(var(--hue), 0%, 51%);
}
/* ---------------- reusables ------------------------*/

body{
  background-color: var(--body-color)
}

img{
  width: 100%;
}


/*--------------- header -------------------------*/

.header{
  display: flex;
  height: var(--header-height)
}

.logo{
  margin-left: 7rem;
}

.container{
  width: 100%;
  
}

.navigation{
  display: flex;
  margin-top: 1.5rem;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20rem;
  margin-left: 10rem;
}

.menu ul {
  display: flex;
  gap: 1.5rem;
  
}

.menu ul li a{
  color: var(--text-color);
}

.menu ul li a:hover{
 color: black;
}

.buttons{
  display: flex;
  gap:1.5rem;
  align-items:center;
  margin-left: 3rem;

}

.login,
.register{
  padding: .8rem 1rem;
  border: none;
  border-radius:0.9rem;
}

.login:hover{
  background-color: var(--title-color-second);
  color: white;
  font-weight: bold;
  cursor: pointer;

}

.register:hover{
  background-color: var(--title-color-second);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/*------------------- section aboutUs ----------------------*/
.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem  0;
}

.aboutUs h3,h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs h3{
  font-weight: 600;
  color:var(--title-color-second)
}

.aboutUs h1{
  font-size:3rem;
  color: #101828
}

.aboutUs p{
  color: var(--text-color);
  text-align: center;
  line-height: 1.5rem;
}

.section {
  padding: 0 4rem 2rem;
  display:grid;
  gap:2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.metricNumbers{
  font-weight:600;
  font-size: 3.75rem;
  color:var(--title-color-second);
  margin-bottom: 0.75rem;
}

.metricTitle{
  font-weight:500;
  font-size:1.125rem;
  color:#101828;
}

.metricText{
  color: var(--text-color);
}

/*----------------- section openVacancies -------------*/

.openVacancies{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem  0;
}

.textOpenVacancies, .titleOpenVacancies, .subtitle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle{
  color: var(--title-color-second);
  font-size: 0.875rem;
  font-weight:medium;
}

.openVacancies h2{
  font-size: 2.25rem;
  font-weight: regular;
  color: #101828;
}

.textOpenVacancies{
  color: var(--text-color);
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 4rem;
}

/*----------------- vacancies ------------------*/
.vacancies{
  width: 70rem;
  margin: 0 auto;
}

.cardTitle{
  font-size:1.25rem;
  margin-bottom:2rem;
}

.card{
  padding: 2rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.card:hover {
  animation: pulando 1s ease-in-out alternate infinite;
}

@keyframes pulando {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}


.textCard{
  font-size:1.125rem;
  font-weight:medium;
}

.card p{
  font-weight: 500;
  color:gray;
}

span{
  margin-left: 1.5rem;
  font-weight: 500;
  color: gray;
}

/* --------------- testimonials --------------- */

.testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem  2rem;
  background-color: antiquewhite;
  height: auto;
}

.titleTestimonials{
  font-size: 2.25rem;
  text-align: center;
  line-height:2.75rem;
}

.imageTestimonials{
  display: flex;
  justify-content: center;
}

.imgTestimonials{
  width:3.5rem;
}

.infoTestimonials{
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials p{
  display: flex;
  justify-content: center;
}

/*-------------- footer ---------------------*/
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem  0;
}

.infoFooter{
  text-align: center;
}

.footer h2{
  font-size:2.25rem;
  font-weight:600;
}

.textFooter{
  font-size: 1.25rem;
  color: var(--text-color);
}

#email{
  padding:0.8rem;
  width: 22rem;
  border-radius:0.6rem;
  border: solid 0.3px gray;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.submit{
  background-color: var(--title-color-second);
  color: white;
  font-weight: 500;
  padding:0.8rem;
  width: 7rem;
  border-radius:0.5rem;
  outline: none;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
  
}

.copy{
 font-size:1rem;
 font-weight: regular;
 color: var(--text-color);
}
