html,
body,
main,
header,
nav,
div,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*-------------- variables ----------------------*/
:root {
  --header-height: 5rem;

/*---------------- colors -----------------------*/
--hue:0;
--body-color: hsl(var(--hue), 0%, 100%);
--base-color: hsl(220, 43%, 11%);
--title-color: hsl(var(--hue), 0%, 1%);
--title-color-second: hsl(var(--hue), 60%, 35%);
--text-color: hsl(var(--hue), 0%, 51%);
--text-color-button: hsl(var(--hue), 0%, 51%);
}
/* ---------------- body ------------------------*/

body{
  background-color: var(--body-color)
}

/*--------------- header -------------------------*/

.header{
  display: flex;
  height: var(--header-height)
}

.logo{
  margin-left: 7rem;
}

.container{
  width: 100%;
  
}

.navigation{
  display: flex;
  margin-top: 1.5rem;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20rem;
  margin-left: 10rem;
}

.menu ul {
  display: flex;
  gap: 1.5rem;
  
}

.menu ul li a{
  color: var(--text-color);
}

.menu ul li a:hover{
 color: black;
}

.buttons{
  display: flex;
  gap:1.5rem;
  align-items:center;
  margin-left: 3rem;

}

.login,
.register{
  padding: .8rem 1rem;
  border: none;
  border-radius:0.9rem;
}

.login:hover{
  background-color: var(--title-color-second);
  color: white;
  font-weight: bold;
  cursor: pointer;

}

.register:hover{
  background-color: var(--title-color-second);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/*------------------- section aboutUs ----------------------*/
.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem  0;
}

.aboutUs h3,h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs h3{
  font-weight: 600;
  color:var(--title-color-second)
}

.aboutUs h1{
  font-size:3rem;
  color: #101828
}

.aboutUs p{
  color: var(--text-color);
  text-align: center;
  line-height: 1.5rem;
}

.metrics{
  padding: 0 4rem 2rem;
  display:grid;
  gap:2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.metricNumbers{
  font-weight:600;
  font-size: 3.75rem;
  color:var(--title-color-second);
  margin-bottom: 0.75rem;
}

.metricTitle{
  font-weight:500;
  font-size:1.125rem;
  color:#101828;
}

.metricText{
  color: var(--text-color);
 
}